/************ COMMON ************/
html {
  font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
}
main {
  background-color: #eeeeee;
}
.main-container {
  padding: 5rem 0;
  margin: @centerContent;
  max-width: @contentContainer;
  max-height: 100%;
}
.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 4rem;
    font-weight: 700;
    font-family: @mainFont;
    margin: 4rem 0;
  }
}
.horizontal-line {
  margin-top: 2rem;
  border: 2px solid black;
  width: 100%;
}
.hero-image {
  width: 98%;
  height: 100%;
  border: 10px solid white;
}

/************ INDEX.HTML LESS ************/

.image-container {
  max-width: @contentContainer;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.catalog-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.catalog-item {
  border: 10px solid white;
  background-color: @colorWhite;
  flex: 1 0 24rem;
  transition: all .2s ease-in-out;

  img {
    height: 400px;
    object-fit: cover;
    width: 100%;
  }
  .catalog-text {
    font-family: @mainFont;
    padding: 20px;
    text-align: center;
    .small-caps {
      font-variant: small-caps;
      font-size: 1.5rem;
    }
    .small-text {
      font-variant: small-caps;
      font-size: 1.5rem;
      color: #8e8e8e;
    }
    .price-text {
      font-size: 18px;
      color: #8e8e8e;
      font-weight: 200;
      margin: 0;
    }
    button {
      margin-top: .5rem;
      border-radius: 5px;
      padding: 10px;
      font-weight: bold;
      font-size: 1.5rem;
      transition: .4s ease;
      background-color: @colorWhite;
      border: 3px solid @colorBlack;
    }
    button:hover {
      cursor: pointer;
      color: white;
      transition: .4s ease;
      background-color: @colorBlack;
    }
  }
}
.catalog-item:hover {
  transform: scale(1.015);
  z-index: 0;
  cursor: pointer;
}

/************ BIKES.HTML LESS ************/
